@model List<PizzaItemViewModel>
    <p>Homework Class06</p>
@for(int i=0; i < Model.Count; i++)
            {
<ul>
    <li>Ordered by:@Model[i].User</li>
    <li>Pizza Name:@Model[i].PizzaName</li>
</ul>
<br/>
            }
