@model PizzaOrderDetailsViewModel
<p>Homework Class06</p>
<ul>
    <li>
        Ordered by:@Model.User
    </li>
    <li>
        Pizza:@Model.PizzaName
    </li>
    <li>
        Is good:@Model.IsGood
    </li>
</ul>